# Normally run from the folder outside the repo.
version: '3.4'
services:
  mongodb:
    image: mongo:3.4
    volumes:
     - ./mongo:/data/db
  mongoadmin:  # web UI for mongo
    image: mongo-express
    ports:
     - "127.0.0.1:8081:8081"
    environment:
     - ME_CONFIG_OPTIONS_EDITORTHEME=ambiance
     - ME_CONFIG_BASICAUTH_USERNAME=admin
     - ME_CONFIG_BASICAUTH_PASSWORD=test
     - ME_CONFIG_MONGODB_SERVER=mongodb
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    command: bash entrypoint.development.sh
