extends normal_page

block page-content
  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
  h2 Session choices
    small= '(' + enrolled + ' ingevuld)'
  p.text-center= 'on a total of ' + visitorCount + ' visitors'
  
  for session, s_idx in talksTable
    script(type='text/javascript')
      | google.charts.load('current', {'packages':['corechart']});
      | google.charts.setOnLoadCallback(drawChart);
      |
      | function drawChart() {
      |   var data = new google.visualization.DataTable();
      |   data.addColumn('string', 'Talk');
      |   data.addColumn('number', 'Chosen');
      |   data.addRows([
      for talk in session
        = "['" + talk + "'," + (talksCount[talk]===undefined?0:talksCount[talk]) + "],"
      |   ]);
      |   var options = {
      !=   "'title': 'Session " + (s_idx + 1) + "',\n"
      |    'width': 400,
      |    'height': 300
      |   };
      !=  "var chart = new google.visualization.PieChart(document.getElementById('s" + s_idx + "'));"
      |   chart.draw(data, options);
      | }
    div(id!='s'+s_idx)
