extends fullscreen_page

block page-content
	.text-center.block.p-5
		if connected
			h5 You've succesfully connected with #{connectee.firstname + ' ' + connectee.surname}
			small You can close the current page
		else
			h5 We could not connect you. This error should help you:
			p= error
