extends normal_page

block page-content
  .row
    .col-12.text-center
      p= users.length + ' visitors have dietary requirements'
    
  .row
    .col-12
      table.table.table-striped.table-hover
        thead
          th Name
          th Association
          th.checkbox Vegetarian
          th Dietary requirements
        tbody
          for row in users
            tr
              td=row.firstname + " " + row.surname
              td=associations[row.association].name
              td
                if row.vegetarian
                  span.fa.fa-check.text-success
                else
                  span.fa.fa-close.text-danger
              td=row.specialNeeds
