extends normal_page

block page-content
    section
      pre= message
      p= error.status
    pre #{error.stack}

    p.text-center Click 
        a(href='/') here 
        | to return to the homepage
