extends fullscreen_page

block page-content
    form.container.col-8.col-sm-6.col-lg-4.mt-5.text-center(method='post')
      h4.mb-3 Reset password
      .mb-3
        input#inputEmail.form-control(type='email', name='email', placeholder='Email address')
      button.btn.btn-primary.btn-lg.mt-3(type='submit') Reset password
    .mt-5
      a.btn.btn-secondary.me-3(href='/login') Back to login
      a.btn.btn-secondary(href='/register') Activate your ticket
