mixin showMessage(msg)
  if msg.startsWith('!safe:')
    | !{msg.substring(6)}
  else
    = msg

doctype html

html(lang=locale)
  head
    meta(charset='utf-8')
    title SNiC MobilIT
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css', integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery-3.6.0.min.js')
    script(src='/js/rellax.min.js')
    script(src='/js/slick.min.js')
    script.
      $(document).ready(function () {
        $('.banner').slick({
          autoplay: true,
          autoplaySpeed: 3000,
          arrows: false,
          dots: false,
          pauseOnHover: false,
          slidesToScroll: 1,
          slidesToShow: 8,
          useTransform: true,
          responsive: [
            {breakpoint: 1400, settings: {slidesToShow: 8}},
            {breakpoint: 1200, settings: {slidesToShow: 6}},
            {breakpoint: 992, settings: {slidesToShow: 5}},
            {breakpoint: 768, settings: {slidesToShow: 4}},
            {breakpoint: 576, settings: {slidesToShow: 3}},
            {breakpoint: 400, settings: {slidesToShow: 2}},
            {breakpoint: 200, settings: {slidesToShow: 1}},
          ]
        });
      });
    link(rel='apple-touch-icon', href='icon.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/svg+xml', href='/favicon.svg')
    link(rel='alternate icon', href='/favicon.ico')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#2d2e83')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='apple-mobile-web-app-title', content='SNiC MobilIT')
    meta(name='application-name', content='SNiC MobilIT')
    meta(name='msapplication-TileColor', content='#2d2e83')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='msapplication-config', content='/browserconfig.xml')
    meta(name='theme-color', content='#2d2e83')
    meta(property='og:title', content='SNiC MobilIT')
    meta(property='og:type', content='event')
    meta(property='event:start_time', content='2021-11-23T10:00:00.000Z')
    meta(property='og:url', content='https://mobilit.snic.nl/')
    meta(property='og:image', content='/icon.png')
    script(type='application/ld+json').
      {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "SNiC MobilIT 2020/2021",
        "alternateName": "Nationaal Informatica Congres 2020/2021 - MobilIT",
        "image": "https://mobilit.snic.nl/icon.png",
        "url": "https://mobilit.snic.nl",
        "about": {
          "@type": "Thing",
          "name": "Mobility"
        },
        "organizer": {
          "@type": "Organization",
          "name": "Stichting Nationaal Informatica Congres",
          "url": "https://stichting.snic.nl"
        },
        "startDate": "2021-11-23",
        "endDate": "2021-11-23",
        "doorTime": "2021-11-23T10:00:00",
        "location": {
          "@type": "Place",
          "name": "Theater & Congres Orpheus",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Churchillplein 1",
            "addressLocality": "Apeldoorn",
            "postalCode": "7314 BZ",
            "addressCountry": "NL"
          }
        },
        "inLanguage": "English",
        "eventStatus": "https://schema.org/EventPostponed",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "audience:": {
          "audienceType": "computer science students",
          "geographicArea": {
            "@type": "AdministrativeArea",
            "address": "The Netherlands"
          }
        },
        "potentialAction": "Participation",
        "typicalAgeRange": "18-26",
        "maximumAttendeeCapacity": "750",
        "remainingAttendeeCapacity": "750"
      }
  body
    main(data-bs-spy='scroll', data-bs-target='#navbar', data-bs-offset='0', tabindex='0')
      #menuToggle.position-fixed.top-0.end-0.m-3(data-bs-toggle='offcanvas', data-bs-target='#sidebar', aria-controls='sidebar')
        span
        span
        span

      // header
      block header

      // Error messages and stuff
      block above-content

      // content of the page
      block content

    // Any content that should be outside the normal flow
    block outside-flow

    // sidebar
    aside#sidebar.offcanvas.offcanvas-end.blue(tabindex='-1', aria-labelledby='sidebar')
      button.btn-close.btn-close-white.text-reset.position-fixed.top-0.end-0.m-3(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
      nav#navbar.nav.nav-pills.flex-column.align-items-stretch.p-3
        a.nav-link.navbar-brand.m-4(href='#mobilit')
          img(alt='MobilIT', src='img/MobilIT-small.svg')
        a.nav-link(href='#theme') Theme
        a.nav-link(href='#speakers') Speakers
        a.nav-link(href='#location') Location
        a.nav-link(href='#corona') Corona
        a.nav-link(href='#partners') Partners
        a.nav-link(href='#about') Contact
        if user
          a.nav-link.mt-5(href='/profile') Profile
          a.nav-link(href='/timetable') Timetable
          if user.admin
            a.nav-link.mt-5(href='/users') Scan tickets
            a.nav-link(href='/choices') Session choices
            a.nav-link(href='/diet') Diets
            a.nav-link(href='/speeddate') Speed date timeslots
            a.nav-link(href='/badge-scanning') Badge scanning
            a.nav-link(href='/tickets') New tickets
            a.nav-link.mt-3(href='/reload/timetable') Reload timetable
          a.nav-link.mt-5(href='/logout') Logout
        else
          a.nav-link.mt-5(href='/timetable') Timetable
          a.nav-link.mt-5(href='/login') Login
          a.nav-link(href='/register') Activate ticket

    // Footer
    script.
      let rh = Rellax('.rellax-horizontal', {horizontal: true, wrapper: 'main'});

    // For extra footer stuff
    block footer
