extends fullscreen_page

block page-content
    form.container.col-8.col-sm-6.col-lg-4.mt-5.text-center(method='post')
      h4.mb-3 Login
      .mb-3
        input#inputEmail.form-control(name='email' type='email', placeholder='Email address', required='', autofocus='')
      .mb-3
        input#inputPassword.form-control(name='password' type='password', placeholder='Password', required='')
      button.btn.btn-primary(type='submit') Login
    div.mt-5
      a.btn.btn-secondary.me-3(href='/forgot') Forgot your password?
      a.btn.btn-secondary(href='/register') Activate your ticket
