extends normal_page

block page-content
  h2 Tickets
  p Generate new tickets. These will be active immediately.
  form(method='POST', action='/tickets')
    .input-group
      select.form-control(id='type', required, name='type')
        option(value='student', selected) Student
        option(value='partner') Partner
      input.form-control(type='number', name="amount", value=0)
      button.btn.btn-primary(type='submit') Generate
  a.btn.btn-primary.mt-4(href='/new_tickets') View unclaimed tickets
