html
  p Dear #{user.firstname},
  p
    | You receive this email because you (or someone else) asked to reset your password for #[b SNiC: MobilIT].
    | Please click on the following link, or copy it into your browser, to complete the reset:
    a(href="https://mobilit.snic.nl/reset/" + token) https://mobilit.snic.nl/reset/#{token}
    br
    | If you did not request to reset your password, you can ignore this email and your password will remain the same.
  p With kind regards,
  p
    small
      b The SNiC: MobilIT Committee
      br
      i Stichting Nationaal informatica Congres (#[b SNiC])

