extends normal_page

block page-content
    h1 Stichting Nationaal Informatica Congres - Privacy Policy
    p
        small Last updated: 17 October 2021
    p
        | Stichting Nationaal Informatica Congres (SNiC) collects, stores and uses various types of personal data, and
        | recognizes the importance of providing a secure environment for this data. We have adopted this Privacy Policy
        | that explains how and why we collect, store and use the information you provide us.
    h2 Who is processsing your data?
    p
        | SNiC is a non profit student organisation located on the Utrecht University campus. SNiC is a registered
        | organisation at the Kamer van Koophandel (Dutch Chamber of Commerce) with the number 08130019, and is located
        | at Princetonplein 5, 3584 CC Utrecht.
    p
        | SNiC consists of a board of study associations, and one or more committees that actively organise an edition
        | of the SNiC event. The board of SNiC can be reached via email for all your privacy-related questions at
        | bestuur@snic.nl. In the rest of this document, when discussing information that is related to a specific
        | edition of the event, we use the term organising committees to refer to the committee that organises that
        | edition of SNiC, as well as the committee that organises the edition after that.
    h2 What information do we collect, why, who can access it, and how long do we keep it?
    p SNiC collects information about you in the following ways:
    p
        | #[b Information provided by you.] Information the owner provides us through participation in an event;
        | through contact in person, by phone or by mail; by entering into an agreement or a contract; by entering into
        | a financial agreement; or by participating in a meeting, a committee or a related position.
        | #[b Information collected from external sources (third parties).] SNiC may receive information from external
        | sources, for example through a payment processor or ticket provider, an event venue, or a social media
        | platform where you interact with an account owned by SNiC.
    h3.mb-4 SNiC collects and stores the following categories of personal data:
    h4 Personal data of people we contact and who contact us
    p
        | This refers to voluntarily given contact information and other personal data of volunteers, employees and
        | collaboration partners that is required for running the SNiC event smoothly. Examples are names, functions,
        | and personal preferences. This information can be archived by the organising committees in order to make the
        | process of organising future events easier.
    p In general, only the organising committees have access to this information.
    p
        | This information is stored for up to 7 years. During that period it can be accessed by future organising
        | committee members for training and learning purposes.
    h4 Personal data of event attendees
    p
        | This refers to information that is freely given through attending or registering for an open or closed event,
        | for example contact information, study association, and allergies. Special attention goes to images and video
        | clips that are taken during the event.
    p
        | Only organising committees and the staff at the event itself have access to this information. This
        | information may also be shared with companies attending the event, but only if the participant actively
        | consents to this. Images and video clips may be shared in public, for example on our site or on Youtube, in
        | order to convey the atmosphere of the event for promotional purposes.
    p
        | This information is stored for up to 2 years after the event, to ensure that the event can be wrapped up
        | smoothly and completely. Published images and video clips will be kept for a longer time.
    h4 Financial and legal information
    p
        | This refers to information that is voluntarily given to SNiC by entering into a financial or legal agreement,
        | for example bank information and personal data on contracts. This information needs to be stored for legal
        | purposes.
    p
        | The SNiC board, organising committees and advisory committees have access to this information. It may also be
        | shared with legal or tax authorities when required by law.
    p This information is stored for up to 7 years as per Dutch law.
    h2.mb-3 Where do we store data and how is this secured?
    p
        | Personal data that SNiC receives may be stored on Google services like Google Cloud or Gmail. SNiC uses a
        | GSuite environment with access control managed by the board. SNiC may also use a secure third party to manage
        | its websites.
    p
        | SNiC takes the protection of personal information very seriously, and takes fitting security measures against
        | loss, abuse, or theft of personal data. All websites of SNiC use a verified SSL certificate to ensure that
        | your personal data does not fall into the wrong hands.
    p
        | One representative of the SNiC board and/or the organising committees is assigned Data Protection Officer
        | (Dutch: Functionaris Gegevensbescherming or FG), and is responsible for critically  overlooking and
        | coordinating the information collection and storage process.
    h2.mb-3 What are your rights?
    p
        b You have various rights regarding your personal data collected or stored by SNiC:
    p
        | The right of data portability. This means that you have the right to receive your own personal data stored by
        | SNiC. It can take a couple of weeks to process this request.
    p
        | The right of forgetfulness. This means that you have the right to have your own personal data stored by SNiC
        | removed, in accordance with the law. It can take a couple of weeks to process this request.
    p
        | The right of insight into your personal data. You can request an overview of your what personal data of you
        | is stored by SNiC. It can take a couple of weeks to process this request.
    p
        | The right of correction of and addition to your personal information. It can take a couple of weeks to
        | process this request.
    p
        | The right of restriction of data processing. This means that SNiC can and will not process your personal data
        | in certain situations, for example if you object to it, in accordance with the law.
    p
        | The right of objection. This means that you have the right to object to processing your personal data, in
        | accordance with the law. It can take a couple of weeks to process this request.
    p
        | The right of clear information regarding the Privacy Policy. This means dat SNiC has to give a concise,
        | understandable, and meaningful explanation for processing personal data. This information can be found in
        | this Privacy Policy. Additional information can be requested at bestuur@snic.nl. It can take a couple of
        | weeks to process this request.
    p The right to file a complaint with the relevant privacy protection officer.
