extends normal_page

block page-content
  form.text-center(method='POST')
    h2 Reset Password
    .mb-3
      input.form-control(type='password', name='password', placeholder='password', value='', autofocus=true)
    .mb-3
      input.form-control(type='password', name='confirm', placeholder='confirm password', value='')
    button.btn.btn-primary(type='submit') Reset your password
