extends normal_page

block page-content
    article.text-center
        h2 Schedule
        .card.my-5
            .card-header
                small.text-muted 09:00 - 10:00
            .card-body
                h5.card-title Arrival
        .card.my-5
            .card-header
                small.text-muted 10:00 - 10:30
            img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
            .card-body
                h5.card-title Opening keynote
                p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card-group.my-5
            .card
                .card-header
                    small.text-muted 10:30 - 11:30
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 1
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Hoofdzaal
            .card
                .card-header
                    small.text-muted 10:30 - 11:30
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 2
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Rabobankzaal
            .card
                .card-header
                    small.text-muted 10:30 - 11:30
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 3
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Altioszaal
        .card-group.my-5
            .card
                .card-header
                    small.text-muted 11:30 - 12:30
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 4
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Hoofdzaal
            .card
                .card-header
                    small.text-muted 11:30 - 12:30
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 5
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Rabobankzaal
            .card
                .card-header
                    small.text-muted 11:30 - 12:30
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 6
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Altioszaal
        .card.my-5
            .card-header
                small.text-muted 12:30 - 13:30
            .card-body
                h5.card-title Lunch break
        .card-group.my-5
            .card
                .card-header
                    small.text-muted 13:30 - 15:00
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 7
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Hoofdzaal
            .card
                .card-header
                    small.text-muted 13:30 - 15:00
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 8
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Rabobankzaal
            .card
                .card-header
                    small.text-muted 13:30 - 15:00
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 9
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Altioszaal
        .card-group.my-5
            .card
                .card-header
                    small.text-muted 15:00 - 16:00
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 10
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Hoofdzaal
            .card
                .card-header
                    small.text-muted 15:00 - 16:00
                img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
                .card-body
                    h5.card-title Speaker 11
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .card-footer
                    small.text-muted Rabobankzaal
        .card.my-5
            .card-header
                small.text-muted 16:00 - 17:00
            img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
            .card-body
                h5.card-title Central keynote
                p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .card-footer
                small.text-muted Hoofdzaal
        .card.my-5
            .card-header
                small.text-muted 17:00 - 18:00
            img.card-img-top(src='img/highway-lights-at-night.jpg', alt='...', height='200px')
            .card-body
                h5.card-title Closing keynote
                p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .card-footer
                small.text-muted Hoofdzaal
        .card.my-5
            .card-header
                small.text-muted 18:00 - 20:00
            .card-body
                h5.card-title Borrel and dinner
        #departure.card.my-5
            .card-header
                small.text-muted 20:00-21:00
            .card-body
                h5.card-title Departure of busses